# Solo se envía al contenedor lo necesario para la inferencia.
**
!predictor_v3/
!predictor_v3/*.py
!servicio/
!servicio/api_v3.py
!servicio/requirements_v3.txt
!servicio/manifiesto_v3.json
!servicio/artefactos_v3/
!servicio/artefactos_v3/*
!servicio/Dockerfile.v3
